.shipments_Container {
  margin-top: 50px;
}
.shipment_Contents {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  padding-top: 20px;
  box-shadow: 2px 2px 3px 1px burlywood;
  text-align: center;
  flex-wrap: wrap;
}
.itemShipment_Img {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  border-radius: 10px;
  margin-right: 20px;
}
.shipment_Contact {
  margin-top: 30px;
  padding-bottom: 10px;
}
.formgiver {
  margin: 20px;
}
.toReceipt {
  margin: 20px;
}

.itemName {
  margin: 20px;
}
.shipment_Location {
  padding-top: 20px;
}
.shipment_body {
  text-align: left;
}
.shipperimg {
  margin: 0;
  padding: 0;
  width: 50%;
}
